header {
    background-color: #0B0B0B;
    color: #fff;
    height: 15vh;
    display: flex;
    align-items: center;
}

.navbar{
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #151515;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.navbar a:hover {
    color: #616161;
}

.logo-header{
    user-select: none;
}

.hamburguer {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    position: relative;
    cursor: pointer;
    display: none;
}

.hamburguer:after, .hamburguer:before {
    content: '';
    position: absolute;
    left: 15%;
    width: 70%;
    height: 5%;
    background-color: #fff;
}

.hamburguer:after {
    top: 35%;
    border-radius: 20px;
}

.hamburguer:before {
    top: 55%;
    border-radius: 5px;
}

@media screen and (max-width: 980px) {

    header {
        height: 10vh;
    }

    .logo-header{
        max-width: 70%;
    }

    .navbar {
        width: 90%;
    }

    .hamburguer {
        display: block;
        z-index: 999;
    }

    .menu{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 90%;
        margin: 0;
        background-color: #333;
        padding: 100px 20px;
        flex-direction: column;
        transition: right 0.5s ease;
        display: flex; 
    }

    li{
        height: 15vh;
        width: 90%;
    }

    li a{
        height: 15vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    li a:hover{
        background-color: #5f5f5f;
    }

    .menu.active {
        right: 0;
    }

    .menu:not(.active) {
        right: -100%;
    }
}
