*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

a{
  text-decoration: none;
}

::-webkit-scrollbar{
  background-color: #171717;
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: #FF7300;
  border-radius: 50px;
}
