*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.container{
  width: 1220px;
  margin: 0 auto;
}

.dot{
  color: #FF7300;
}

::-webkit-scrollbar{
  background-color: #171717;
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: #FF7300;
  border-radius: 50px;
}
